*.tar
*.pickle
pyRad
test_data
ENV*
data_test*
__pycache__
.pytest_cache/*
*brachyutils.egg-info*
*.whl
*.vscode
dist/*
.pytest_cache/
.trunk
*DS_STORE
*tar.gz
*tar.zst
*.tar
.checkpointing
build/*
*.trunk*
temp_data/*
!temp_data/.gitkeep
.env
!docker_src/.env
