/source/type Intrabeam
/source/iso {intraprobe[position][x]} {intraprobe[position][y]} {intraprobe[position][z]} mm
/source/angles {intraprobe[angle][x]} {intraprobe[angle][y]} {intraprobe[angle][z]} rad
/source/app_radius {intraprobe[radius]} cm
/source/phsp_filename {phsp_filename}
/world/phantom {phantom_filename}
/dose/format 3ddose
/run/numberOfThreads {nthreads}

/run/initialize
/control/verbose 0
/run/verbose 0
/tracking/verbose 0

/run/beamOn {nhists}