/source_world/switch {source[name]}
/source_world/coreMaterial {g4_core}
/source_world/core/A {core[A]}
/source_world/core/Z {core[Z]}
/sim/plan {plan_filename}
/source_world/shieldRadius {shield_radius} mm
/world/phantom {phantom_filename}
/parallel_world/ak_per_history {core[ak_per_history]}
/parallel_world/ref_ak {ref_ak}
/parallel_world/total_time {total_time}
/dose/format {dose_output}

/run/numberOfThreads {nthreads}

/run/initialize
/control/verbose 0
/run/verbose 0
/tracking/verbose 0

/sim/beamOn {nhists}